.newsletter {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 40px 20px;
    height:50vh;
    width: 80%;
    margin: auto;
    padding : 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, white 0%, #f2f2f2 100%);

  }
  
  .newsletter h1 {
    font-size:55px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .newsletter p {
    font-size: 40px;
    color: #666;
    margin: 25px 0;
  }

  
 .email {
    padding: 10px 15px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 400px;
    margin: 12px;
    text-align: center;
  }
  
 .btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #0596d9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0d2e3c;
  }
  

  @media (max-width: 600px) {
    .newsletter h1 {
      font-size: 1.5rem;
    }
  
    .newsletter p {
      font-size: 0.9rem;
    }
  
    .newsletter-input {
      flex-direction: column;
      align-items: center;
    }
  
    .newsletter-input input,
    .newsletter-input button {
      width: 100%;
      max-width: 300px;
    }
  }
  